@use 'variables';

html {
  font-size: variables.$font-size;
  font-family: variables.$font-family;
  background: variables.$background-color;
  color: variables.$font-color;
  max-width: variables.$page-width;
  line-height: 1.4;
}

body {
  margin: 15;
  width: 100vw;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
 // height: 100vh;
}

h1 {
   color: green;
   text-align: left;
   max-width: 90vw;
}

.test {
    color: yellow;
}
